<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-N7P7DQW');</script>
        <!-- End Google Tag Manager -->

        <title><%= post.title %> | 4slack</title>

        <meta charset="utf-8"/>
        <meta name="description" content="Awesome post shared by a 4slack user!"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="theme-color" content="#0069c0"/>
        <link rel="shortcut icon" href="https://www.4slack.com/favicon.png" />

        <meta property="og:title" content="<%= post.title %> | 4slack" />
        <meta property="og:type"
            <% if (post.type==='image') { %> content="article" <% } %>
            <% if (post.type==='hosted:video') { %> content="video.other" <% } %>
         />
        <meta property="og:description" content="4slack" />
        <meta property="og:url" content="https://www.4slack.com/sh/<%= post.id %>" />
        <meta property="og:image"
                <% if (post.type==='image') { %> content="<%= post.url %>" <% } %>
                <% if (post.type==='hosted:video') { %> content="<%= post.thumbnail %>" <% } %>
        />
        <style>
            body {
                background-color: #212121;

                color: rgba(255, 255, 255, 0.95);
                font-size: 0.875rem;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 400;
                line-height: 1.5;
                letter-spacing: 0.01071em;
            }
            h1 {
                font-size: 2.5rem;
                font-weight: 400;
                line-height: 1.33;
                letter-spacing: 0em;
            }
            @media (max-width: 600px) {
                h1 {
                    font-size: 1.5rem;
                }
            }
            #contentContainer {
                margin: auto;
                max-width: 700px;
            }
            #content {
                width: 100%;
            }
            a {text-decoration: none;}
            #moreFun {
                padding: 8px 16px;
                font-size: 0.875rem;
                min-width: 64px;
                box-sizing: border-box;
                min-height: 36px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 400;
                line-height: 1.5;
                border-radius: 4px;
                letter-spacing: 0.02857em;
                text-transform: uppercase;
                margin: 10px auto;
                color: #fff;
                background-color: #2196f3;
                border: 0;
                cursor: pointer;
                display: inline-block;
                outline: none;
                vertical-align: middle;
                justify-content: center;
                -moz-appearance: none;
                text-decoration: none;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: transparent;
            }

            #slackLogo {
                display: block;
                margin: 25px auto;
                width: 100px;
                opacity: 0.8;
            }
        </style>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">

    </head>
    <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7P7DQW"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        <div id="contentContainer">
            <h1>
                <%= post.title %>
            </h1>

            <% if (post.type==='image') { %>
                <img src="<%= post.url%>" id="content" alt="<%= post.title%>"/>
            <% } %>

            <% if (post.type==='hosted:video') { %>
                <video id="content" controls autoplay title="<%= post.title%>" preload="auto" muted>
                    <source src="<%= post.url%>">
                </video>
            <% } %>

            <a href="https://www.4slack.com/">
                <img id='slackLogo' src="https://www.4slack.com/logo-appbar-white.png" alt="4slack logo"/>
            </a>
            <div style="text-align: center;">
                <a href="https://www.4slack.com/">
                    <div id="moreFun">More Fun</div>
                </a>
            </div>
            <br>
            <br>
        </div>
    </body>
</html>